<form class="mt-3" [formGroup]="profileDataForm">
  <div class="row align-items-center">
    <div class="col-md-4">
      <span (click)="backNavigation()"><a class="cursor-pointer"> Profile</a> > </span> <span>{{userData?.name}}</span>
    </div>
    <div class="col-md-8 text-end">
      <bw-button className="btn-base  secondary-btn-text border-secondary bw-font-prm-regular btn-sm  me-md-4 px-4"
        buttonName="Cancel" (onClick)="cancel($event)">
      </bw-button>
      <bw-button className=" btn-base secondary-btn-text border-secondary bw-font-prm-regular btn-sm  me-md-4 px-4"
        buttonName="Clear All" (onClick)="clearAll($event)">
      </bw-button>
      <bw-button className="btn-base bw-font-prm-regular btn-contained  secondary-btn-contained   btn-sm  me-md-4 px-4"
        buttonName="Save" (onClick)="saveProfile($event)">
      </bw-button>
    </div>
  </div>
  <!-- <bw-bread-crumb [defaultItems]="defaultItems" (onClick)="navigateInto($event)"></bw-bread-crumb> -->
  <div class="mt-4">
    <bw-label [width]="'10%'" [className]="'primary-fre-clr-bse bw-font-prm-medium'" [labelName]="userData?.name">
    </bw-label>
  </div>







  <div class="my-3 col-md-11 p-0">
    <bw-toastr [rowClass]="'12'" [isIcon]="true" [message]="alertMessage" [isListOrder]="false">
    </bw-toastr>
  </div>
  <div class="row m-0">
    <div class="form-group col-8 border p-3 ">
      <div class="row icons">
        <div class="col-3">
          <bw-avatar *ngIf="image" [className]="'profile-picture lg'" [src]="image" [alt]="'profile'"
            [title]="'Profile Pic'">
          </bw-avatar>
          <bw-double-icon [iconProperties]="iconProperties" (onClick)="iconClickEvent($event)"
            [className]="'icons cursor-pointer'">
            <input type="file" #fileupload id="file" style="display: none" (change)="uploadFile($event)" />
          </bw-double-icon>
        </div>
        <div class="col-9">
          <bw-textarea [labelClass]="'bw-font-prm-medium fs-6'" [label]="'Status'"
            [control]="profileDataForm.get('status')" [placeholder]="'Enter Status'" (focusout)="seterror('status')"
            [className]="'bw-font-sec-medium mt-1'">
          </bw-textarea>
        </div>
      </div>
      <div class="m-1">
        <bw-textarea [label]="'Bio'" [labelClass]="'bw-font-prm-medium fs-6'" [control]="profileDataForm.get('bio')"
          [inRow]="true" [inRowLabelRows]="3" [inRowInputRows]="9" [rows]="3" [placeholder]="'Enter Bio'"
          (focusout)="seterror('bio')" [className]="'bw-font-prm-medium fs-6 fw-500'">
        </bw-textarea>
        <bw-input [label]="'Title'" [labelClass]="'bw-font-prm-medium fs-6'"
          [control]="profileDataForm.get('companyTitle')" [placeholder]="'Enter Title'"
          (focusout)="seterror('companyTitle')" [classNameControl]="'bw-font-sec-medium'" [inRow]="true"
          [inRowLabelRows]="3" [inRowInputRows]="9">
        </bw-input>
        <bw-input [label]="'Company'" [labelClass]="'bw-font-prm-medium fs-6'"
          [control]="profileDataForm.get('company')" [placeholder]="'Enter Company'" (focusout)="seterror('company')"
          [classNameControl]="'bw-font-sec-medium'" [inRow]="true" [inRowLabelRows]="3" [inRowInputRows]="9">
        </bw-input>

        <bw-input [label]="'Appointment'" [labelClass]="'bw-font-prm-medium fs-6'"
          [control]="profileDataForm.get('appointment')" [placeholder]="'Enter Appointment'"
          (focusout)="seterror('appointment')" [classNameControl]="'bw-font-sec-medium'" [inRow]="true"
          [inRowLabelRows]="3" [inRowInputRows]="9">
        </bw-input>
        <bw-icon-text [colClass]="3" [textClass]="9" [iconClassName]="'email-open-outline icon-lgt'"
          [className]="'bw-font-sec-medium'" [textName]="userData?.email">
        </bw-icon-text>
        <bw-icon-input [iconClassName]="'cellphone'" [colClass]="3" [textClass]="9" [placeholder]="'Enter Mobile'"
          [control]="profileDataForm.get('mobilePhone')" (focusout)="seterror('mobilePhone')">
        </bw-icon-input>
        <bw-icon-input [iconClassName]="'phone'" [colClass]="3" [textClass]="9" [placeholder]="'Enter Work Phone'"
          [control]="profileDataForm.get('workPhone')" (focusout)="seterror('workPhone')">
        </bw-icon-input>
        <bw-select [labelClass]="'bw-font-prm-medium fs-6'" [control]="profileDataForm.get('country')"
          [data]="countries" [isKey]="true" [label]="'Home Country'" [inRow]="true" [inRowLabelRows]="3"
          [searchable]="false" [selectName]="'country'" [selectValue]="'clientBoardId'"
          (selectChangeEvent)="onChange($event, 'country')">
        </bw-select>
        <bw-select [labelClass]="'bw-font-prm-medium fs-6'" [control]="profileDataForm.get('timeZone')"
          [data]="timezones" [isKey]="true" [label]="'Time Zone'" [inRow]="true" [inRowLabelRows]="3"
          [searchable]="false" [selectName]="'displayName'" [selectValue]="'id'"
          (selectChangeEvent)="onChange($event, 'timezone')">
        </bw-select>
        <bw-horizontal-label [labelClassName]="'bw-font-prm-medium fs-6'" [labelName]="'Username'"
          [textClassName]="'bw-font-sec-medium'" [textName]="userData?.username" [isHorizontal]="true"
          [isVertical]="false" [colClass]="3" [textClass]="9">
        </bw-horizontal-label>
        <bw-input [labelClass]="'bw-font-prm-medium fs-6'" [label]="'Assistant Name'"
          [control]="profileDataForm.get('assistantName')" [placeholder]="'Enter Assistant Name'"
          (focusout)="seterror('assistantName')" [classNameControl]="'bw-font-sec-medium'" [inRow]="true"
          [inRowLabelRows]="3" [inRowInputRows]="9">
        </bw-input>
        <bw-input [labelClass]="'bw-font-prm-medium fs-6'" [label]="'Assistant Phone'"
          [control]="profileDataForm.get('assistantPhone')" [placeholder]="'Enter Assistant Phone'"
          (focusout)="seterror('assistantPhone')" [classNameControl]="'bw-font-sec-medium'" [inRow]="true"
          [inRowLabelRows]="3" [inRowInputRows]="9">
        </bw-input>
        <bw-input [labelClass]="'bw-font-prm-medium fs-6'" [label]="'Assistant Email'"
          [control]="profileDataForm.get('assistantEmail')" [placeholder]="'Enter Assistant Email'"
          (focusout)="seterror('assistantEmail')" [classNameControl]="'bw-font-sec-medium'" [inRow]="true"
          [inRowLabelRows]="3" [inRowInputRows]="9">
        </bw-input>
        <bw-textarea [labelClass]="'bw-font-prm-medium fs-6'" [label]="'Other Information'"
          [control]="profileDataForm.get('otherInfo')" [inRow]="true" [inRowLabelRows]="3" [inRowInputRows]="9"
          [rows]="3" [placeholder]="'Enter Other Information'" (focusout)="seterror('otherInfo')"
          [className]="'bw-font-sec-medium'">
        </bw-textarea>
        <bw-textarea [labelClass]="'bw-font-prm-medium fs-6'" [label]="'Description'"
          [control]="profileDataForm.get('description')" [inRow]="true" [inRowLabelRows]="3" [inRowInputRows]="9"
          [rows]="3" [placeholder]="'Enter Description'" (focusout)="seterror('description')"
          [className]="'bw-font-sec-medium'">
        </bw-textarea>
        <bw-input [labelClass]="'bw-font-prm-medium fs-6'" [label]="'LinkedIn URL'"
          [control]="profileDataForm.get('linkedin')" [placeholder]="'Enter LinkedIn URL'"
          (focusout)="seterror('linkedin')" [classNameControl]="'bw-font-sec-medium'" [inRow]="true"
          [inRowLabelRows]="3" [inRowInputRows]="9" [helpText]="'http://www.linkedin.com/'">
        </bw-input>
        <bw-input [labelClass]="'bw-font-prm-medium fs-6'" [label]="'Twitter Username'"
          [control]="profileDataForm.get('twitter')" [placeholder]="'Enter Twitter Username'"
          (focusout)="seterror('twitter')" [classNameControl]="'bw-font-sec-medium'" [inRow]="true" [inRowLabelRows]="3"
          [inRowInputRows]="9" [helpText]="'e.g. @scottgu'">
        </bw-input>
        <p>Would you like to show your twitter feed as part of your profile?</p>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <bw-label [labelName]="'Show Twitter Feed?'" [className]="'bw-font-prm-medium fs-6'">
              </bw-label>
            </div>
            <div class="col-sm-9">
              <div class="form-radio">
                <input type="radio" id="radio1" name="showTwitterFeed" formControlName="showTwitterFeed"
                  [value]="true" />
                <label for="radio1">Yes</label>
              </div>
              <div class="form-radio">
                <input type="radio" id="radio2" name="showTwitterFeed" formControlName="showTwitterFeed" [value]="false"
                  checked />
                <label for="radio2">No</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group col-3 pr-0">

      <bw-card (onClickCard)="onClickCard($event)" [cardBodyClassName]="'--bw-sec-clr-bse mt-3 cursor-pointer'"
        [cards]="cardData">

      </bw-card>
      <!-- <bw-grid [isEnableSelectAll]="isEnableSelectAll" [isShowCheckbox]="isShowCheckbox" [onCellClicked]="onCellClicked"
        [columnOptions]="columnOptions" [columnsData]="columnsData" [gridData]="gridData"
        [isCommitteeGrid]="isCommitteeGrid">
      </bw-grid> -->
    </div>
  </div>
</form>