<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Ram On Siddha</h1>
      <ul>
        <li>
          Agathiyar, the founder of Siddha System of Medicine before 10000 years
          have written book called Agathiyam where a portion of it is still
          available in Tanjore Saraswathi Mahal Library. His Book Agathiyam is
          the source book for all Siddhars to derive the medical knowledgebase.
          Recently Ramayana too highlighted about Agathiyar.
        </li>
        Please upload your video or share this link if you find this useful.
        Also please send such video’s articles or link to share and gain
        knowledge on Siddha. You content will be reviewed for authenticity and
        published within an Hour
      </ul>
    </div>
  </div>
</div>
