<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Official</h1>
      <ul>
        <li>
          On Jan 31, 2018, Central Council for Research in Siddha released this
          official Video as H5 the successor of H4 << H3 << H2 << H1(HIV drugs
          research for AIDS was started in 1990’s and right now it has reached
          H5 stages) with detailed report for W.H.O under the leadership of
          Dr.P.Sathiya Rajeswaran, Siddha Scientist)
          https://www.youtube.com/watch?v=bL2CTzSM6Mw
        </li>
        Please upload your video or share this link if you find this useful.
        Also please send such video’s articles or link to share and gain
        knowledge on Siddha. You content will be reviewed for authenticity and
        published within an Hour

        <li>
          Dr. Jayalalitha, Chief Minister of Tamilnadu, promoted Siddha with
          special GO in Aug 2015
          https://www.deccanchronicle.com/150826/nation-current-affairs/article/siddha-ensure-better-maternal-child-care
        </li>
        Please upload your video or share this link if you find this useful.
        Also please send such video’s articles or link to share and gain
        knowledge on Siddha. You content will be reviewed for authenticity and
        published within an Hour

        <li>
          Honourable Prime minister reaches out to the living legend of Siddha
          system of medicine and teacher to many in this field Dr. Jayaprakash
          Jayaprakash to fight COVID-19
        </li>

        Please upload your video or share this link if you find this useful.
        Also please send such video’s articles or link to share and gain
        knowledge on Siddha. You content will be reviewed for authenticity and
        published within an Hour
      </ul>
    </div>
  </div>
</div>
