<form class="m-3" [formGroup]="adminForm">
    <div class="row">
        <div class="col-md-12">
            <bw-bread-crumb [defaultItems]="defaultNavs" (onClick)="navigateInto($event)"></bw-bread-crumb>
        </div>
        <div class="row  m-3 align-items-center">
            <div class="col-md-9 col-lg-9">
                <bw-label [className]="'bw-font-sec-bold label'" [labelName]="'Administration'">
                </bw-label>
            </div>
            <div class="col-md-3 col-lg-3 text-end">
                <bw-button
                className="btn-base secondary-btn-text border-secondary bw-font-prm-medium btn-sm me-md-4 px-4"
                buttonName="CANCEL"
                (onClick)="clickButton('Cancel')"
              >
              </bw-button>
              <bw-button
                className="btn-base btn-containe bw-font-prm-medium secondary-btn-contained btn-sm me-md-4 px-4"
                buttonName="SAVE"
                (onClick)="clickButton(isEditMode ? 'Update' : 'Save')"
              >
              </bw-button>
                <!-- <bw-combo-button [buttonProperties]="buttonProperties" [width]="'100%'" (onClick)="clickButton($event)">
                </bw-combo-button> -->
            </div>
        </div>
        <div class="form-group m-3 col-md-8 col-lg-8 p-3">
            <p *ngIf="isError" class="text-danger mb-1">
                <ng-container *ngFor="let msg of errMessage">
                  {{ msg }}
                </ng-container>
              </p>
            <div class="panelbar-wrapper">
                <kendo-panelbar [style.height]="'320px'" (stateChange)="onPanelChange($event)" class="bw-accordion">
                    <kendo-panelbar-item [title]="'Settings'" [expanded]="true">
                        <ng-template kendoPanelBarContent>
                            <div class="m-3">
                                <bw-input [label]="'Committee Name'" [control]="adminForm.get('name')"
                                    [placeholder]="'Enter Committee Name'" (focusout)="seterror('name')"
                                    [classNameControl]="'bw-font-sec-medium'" [inRow]="true" [inRowLabelRows]="3"
                                    [inRowInputRows]="7">
                                </bw-input>
                                <bw-textarea [label]="'Description'" [control]="adminForm.get('description')"
                                    [inRow]="true" [inRowLabelRows]="3" [inRowInputRows]="7" [rows]="3"
                                    [placeholder]="'Enter Description'" (focusout)="seterror('description')"
                                    [className]="'bw-font-sec-medium'">
                                </bw-textarea>
                            </div>
                            <bw-control-error-message [control]="adminForm.get('userIds')"
                                [fieldName]="'Committee Members'">
                            </bw-control-error-message>
                        </ng-template>
                    </kendo-panelbar-item>
                    <kendo-panelbar-item [title]="'Committee Members'" [expanded]="false">
                        <ng-template kendoPanelBarContent>
                            <bw-toastr [isIcon]="false" [rowClass]="'10 m-3'" [width]="'85%'" [message]="committeesInfoMessage">
                            </bw-toastr>
                            <bw-checkbox [checkBoxses]="users" [inRow]="true" [inRowInputRows]="12"
                                [classCheckboxLabel]="'col-md-6 col-lg-6'" [control]="adminForm.get('userIds')"
                                [classNameControl]="'bw-font-sec-medium m-3'"
                                (getselectedArray)="changeCheckbox($event, 'committee')"></bw-checkbox>
                        </ng-template>
                    </kendo-panelbar-item>
                </kendo-panelbar>
            </div>
            <!-- <bw-accordion> </bw-accordion> -->
        </div>
    </div>
</form>