.alert {
  white-space: nowrap;
}

.pr {
  position: relative;
}

.right-sort-section {
  position: absolute;
  right: 15px;
}

.label {
  display: block;
  font-weight: bold;
  text-indent: 8px;
  color: #656565;
}

.date-col {
  margin-bottom: 5% !important;
}

.content {
  padding: 10px 20px;
  color: #787878;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.k-animation-container-shown, .k-animation-container > .k-popup {
  // left: 300px !important;
  // top: 225px !important;
  width: 220px !important;
}

.headerName {
  position: relative;
  left: 8px;
}
.arrow {
  color: var(--bw-sec-clr-bse-hvr);
  position: absolute;
  bottom: 2px;
  font-size: 15px;
}
.dropdown {
  margin: 0;
  padding: 0;
  position: relative;
  top: 8px;

  .dropdown-menu {
    padding: 25px 5px;
    margin-top: 18px;
    border: 1px solid var(--bw-extra-light-gray-xx);
    border-radius: 3px;
    min-width: 17rem;
    position: absolute;
    box-shadow: rgb(100 100 111 / 13%) 0px 7px 15px 0px;
    background: var(--bw-clr-white);
    z-index: 9;
    right: 0;

    .dropdown-menu-child {
      padding: 6px 15px;
      color: var(--bw-extra-light-gray-xxx);
      font-size: 13px;
      text-decoration: none;
      display: block;

      &:hover {
        text-decoration: none;
      }
    }
    .dropdown-menu-child-active {
      padding: 6px 15px;
      color: var(--bw-extra-light-gray-xxx);
      font-size: 13px;
      text-decoration: none;
      display: block;

      &:hover {
        text-decoration: none;
        background-color: rgba(247, 247, 247, 1) !important;
      }
      &:active {
        background-color: rgba(247, 247, 247, 1) !important;
      }
    }
  }
}

::ng-deep.cal-tab{
.k-tabstrip > .k-content {
  background: transparent;
}
}