<form [formGroup]="passwords" class="width-30 m-auto">
    <bw-avatar [className]="'logo lg center mt-5'" [src]="'../assets/images/logo-new.png'" [alt]="'logo'"
        [title]="'logo'">
    </bw-avatar>
    <div *ngIf="!isSuccess">
        <p class="primary-fre-clr-bse bw-font-sec-bold text-center">Password Change</p>
        <p class="text-danger mb-1" *ngIf="isPasswordExpired === true">
            Your password has expired, please change your password
        </p>
        <bw-input [type]="'password'" [label]="'Old Password'" [control]="passwords.get('OldPassword')"
            [placeholder]="''" [classNameControl]="'bw-font-sec-medium'">
        </bw-input>
        <bw-input [type]="'password'" [label]="'New Password'" [control]="passwords.get('NewPassword')"
            [placeholder]="''" [classNameControl]="'bw-font-sec-medium'">
        </bw-input>
        <bw-input [type]="'password'" [label]="'Confirm Password'" [control]="passwords.get('ConfirmNewPassword')"
            [placeholder]="''" [classNameControl]="'bw-font-sec-medium'">
        </bw-input>
        <bw-toastr [rowClass]="'12'" [message]="'Password Creation'" [isListOrder]="true" [lists]="lists">
        </bw-toastr>
        <p *ngIf="isError" class="text-danger mb-1">
            <ng-container *ngFor="let msg of errMessage">
                {{msg}}
            </ng-container>
        </p>
        <bw-button className="mt-3 btn-base btn-contained secondary-btn-contained btn-lg bw-font-sec-bold width-100"
            buttonName="Reset Password" (onClick)="changepassword()">
        </bw-button>
    </div>
    <p *ngIf="isSuccess">
        Your password has been successfully changed.
        You may now log in.
        You will be redirected to the login page in {{message}} seconds.
    </p>
    <p class="secondary-fre-clr-bse text-center cursor-pointer mt-4 focus-outline-none" routerLink="/login">Return Home
    </p>
</form>