<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1> Dr. Jayalalitha On Siddha</h1>
      <ul>
        <li>
          Dr. Jayalalitha, Chief Minister of Tamilnadu, promoted Siddha with
          special GO in Aug 2015
          <span
            ><a
              href=" https://www.deccanchronicle.com/150826/nation-current-affairs/article/siddha-ensure-better-maternal-child-care"
              style="color: blue;"
              target="_blank"
            >https://www.deccanchronicle.com/150826/nation-current-affairs/article/siddha-ensure-better-maternal-child-care</a
          ></span>
        </li>
        Please upload your video or share this link if you find this useful.
        Also please send such video’s articles or link to share and gain
        knowledge on Siddha. You content will be reviewed for authenticity and
        published within an Hour
      </ul>
    </div>
  </div>
</div>
