<div class="row align-items-center">
  <div class="col-md-8">
    <bw-text [className]="'primary-fre-clr-bse'" [textName]="'Change Password'">
    </bw-text>
  </div>
  <div class="col-md-4 text-end">
    <bw-button
      [buttonName]="'CANCEL'"
      [className]="
        'btn-base btn-contained secondary-btn-outlined btn-sm bw-font-sec-bold m-2'
      "
      [buttonDisabled]="false"
      [withIcon]="false"
      (onClick)="clickButton('Cancel')"
    ></bw-button>
    <bw-button
      [buttonName]="'CHANGE PASSWORD'"
      [className]="
        'btn-base btn-contained secondary-btn-contained btn-sm bw-font-sec-bold me-md-4 m-2'
      "
      [buttonDisabled]="false"
      [withIcon]="false"
      (onClick)="clickButton('Password')"
    ></bw-button>
  </div>
  <bw-toastr
    [rowClass]="'8'"
    [message]="'Password Creation'"
    [isListOrder]="true"
    [lists]="lists"
  >
  </bw-toastr>
</div>
<div class="col-8 border p-3">
  <p *ngIf="isError" class="text-danger mb-3">
      <ng-container *ngFor="let msg of errMessage">
          {{msg}}
      </ng-container>
  </p>
  <div class="form-group">
    <bw-input
      [label]="'Current Password'"
      [control]="changePasswordForm.get('currentPassword')"
      [placeholder]="''"
      (focusout)="seterror('currentPassword')"
      [classNameControl]="'bw-font-sec-medium'"
      [inRow]="true"
      [type]="'password'"
      [inRowLabelRows]="2"
      [inRowInputRows]="10"
    >
    </bw-input>
    <bw-input
      [label]="'New Password'"
      [control]="changePasswordForm.get('newPassword')"
      [placeholder]="''"
      (focusout)="seterror('newPassword')"
      [classNameControl]="'bw-font-sec-medium'"
      [inRow]="true"
      [type]="'password'"
      [inRowLabelRows]="2"
      [inRowInputRows]="10"
    >
    </bw-input>
    <bw-input
      [label]="'Confirm New Password'"
      [control]="changePasswordForm.get('confirmNewPassword')"
      [placeholder]="''"
      (focusout)="seterror('confirmNewPassword')"
      [classNameControl]="'bw-font-sec-medium'"
      [inRow]="true"
      [type]="'password'"
      [inRowLabelRows]="2"
      [inRowInputRows]="10"
    >
    </bw-input>
  </div>
</div>
