<div class="container">
  <div class="row banner">
    <div class="col-md-8">
      <h3 class="registerHeading">
        Volunteer (Self-Motivated Individual) Siddha Doctors Registration
      </h3>
      <p>Please fill the form below for Volunteer Registration</p>

      <form [formGroup]="profileForm" ngNativeValidate>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleInput">First Name *</label>
              <input
                type="text"
                class="form-control"
                id="a"
                (change)="changeFn($event)"
                formControlName="firstname"
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleInput">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="b"
                (change)="changeLn($event)"
                formControlName="lastname"
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>About Me *</label>
          <div class="form-check">
            <div *ngFor="let qua of qualification">
              <input
                class="form-check-input"
                type="radio"
                name="degree"
                id="{{ qua.name }}"
                value="{{ qua.id }}"
                (change)="changeHeQ($event)"
                formControlName="degree"
                required
              />
              <p class="form-check-label" for="exampleRadios">
                {{ qua.display_name }}
              </p>
              <div *ngIf="showInputGuru && showNameGuru === qua.display_name">
                <label>Guru Name</label>
                <input
                  class="form-control"
                  type="text"
                  name="guru"
                  id="guru"
                  (change)="changeGuru($event)"
                  formControlName="guruname"
                  required
                />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>COVID-19 Cure Specialization (self declaration) *</label>
          <div class="form-check">
            <div *ngFor="let special of specialization">
              <input
                class="form-check-input"
                type="radio"
                name="specialist"
                id="{{ special.name }}"
                value="{{ special.id }}"
                (change)="changeSpecial($event)"
                formControlName="specialist"
                required
              />
              <p class="form-check-label" for="exampleRadios2">
                {{ special.display_name }}
              </p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInput">Email</label>
          <input
            type="email"
            class="form-control"
            id="d"
            (change)="changeEmail($event)"
            formControlName="email"
            oninvalid="this.setCustomValidity('Please enter the Email in the following format: example@abc.xyz')"
            oninput="setCustomValidity('')"
          />
        </div>
        <div class="form-group">
          <label> Mobile No* </label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <select
                class="form-control"
                id="birno"
                (change)="changeCountryCode($event)"
                formControlName="countrycode"
                required
              >
                <option *ngFor="let coun of countries" [ngValue]="coun.id">
                  {{ coun.phone_code }}
                </option>
              </select>
            </div>
            <input
              type="text"
              class="form-control"
              (keypress)="isNumber($event)"
              onkeydown="return event.keyCode !== 69 && event.keyCode !== 190"
              (change)="changeMobileNumber($event)"
              formControlName="mobilenumber"
              minlength="10"
              maxlength="10"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label for="birplace">Birth Place *</label>
          <select
            class="form-control"
            id="birplace"
            (change)="changeBirthPlace($event)"
            formControlName="birthplace"
            required
          >
            <option value="" selected>Select Birth Place</option>
            <option
              *ngFor="let dist of districts | orderBy: order"
              [ngValue]="dist.id"
            >
              {{ dist.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="cur">Current Location *</label>
          <select
            class="form-control"
            id="cur"
            (change)="changeCurrentLocation($event)"
            formControlName="currentlocation"
            required
          >
            <option value="" selected>Select Current Location</option>
            <option
              *ngFor="let dist of districts | orderBy: order"
              [ngValue]="dist.id"
            >
              {{ dist.name }}
            </option>
          </select>
        </div>
        <hr />
        <div class="form-group">
          <label for="exampleInputEmail1">Village/Ward Name</label>
          <input
            type="text"
            class="form-control"
            id="h"
            (change)="changeVillage($event)"
            formControlName="wardname"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Aadhar Number *</label>
          <input
            type="text"
            class="form-control"
            id="z"
            (keypress)="isNumber($event)"
            onkeydown="return event.keyCode !== 69 && event.keyCode !== 190"
            (change)="changeAadharNumber($event)"
            formControlName="aadharnumber"
            minlength="12"
            maxlength="12"
            required
          />
        </div>
        <hr />

        <div class="form-check1">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="theCheckbox"
            [ngModelOptions]="{ standalone: true }"
            data-md-icheck
            (change)="changeChecked($event)"
          />
          <label class="form-check-label"
            >Click here if you own a clinic/hospital
          </label>
        </div>
        <br />

        <div *ngIf="marked" formGroupName="hospitalForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Hospital Name *</label>
            <input
              type="text"
              class="form-control"
              id="oo"
              (change)="changeHospitalName($event)"
              formControlName="hospitalname"
              required
            />
          </div>

          <div>
            <div class="form-group">
              <label for="exampleInputEmail1">No. of employees *</label>
              <input
                type="text"
                class="form-control"
                id="o"
                (keypress)="isNumber($event)"
                onkeydown="return event.keyCode !== 69 && event.keyCode !== 190"
                (change)="changeNoOfEmployess($event)"
                formControlName="employeescount"
                required
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Address *</label>
              <textarea
                class="form-control"
                id="p"
                rows="3"
                (change)="changeAddress($event)"
                formControlName="address"
                required
              ></textarea>
            </div>
            <div class="row">
              <!-- <div class="col">
              <div class="form-group">
                <label for="cou">Country *</label>
                <select
                  class="form-control"
                  id="cou"
                  (change)="changeCountry($event)"
                  formControlName="countryselect"
                  required
                >
                  <option value="" selected>Select Country Name</option>
                  <option
                    *ngFor="let country of countries | orderBy: order"
                    [ngValue]="country.id"
                    >{{ country.name }}</option
                  >
                </select>
              </div>
            </div> -->
              <div class="col">
                <div class="form-group">
                  <label for="dis">District *</label>
                  <select
                    class="form-control"
                    id="dis"
                    (change)="changeDistrict($event)"
                    formControlName="districtselect"
                    required
                  >
                    <option value="" selected>Select District Name</option>
                    <option
                      *ngFor="let dist of districts | orderBy: order"
                      [ngValue]="dist.id"
                    >
                      {{ dist.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-check1">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="theCheckboxAgree"
            [ngModelOptions]="{ standalone: true }"
            data-md-icheck
            (change)="changeAgree($event)"
            required
          />
          <label class="form-check-label">
            I agree to all the privacy policy & terms & conditions regulated by
            *
          </label>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-3 mb10">
            <button
              type="submit"
              class="btn btn-primary"
              (click)="register('redirectToHome')"
            >
              Register
            </button>
          </div>
          <div class="col-md-6 mb10">
            <button
              type="submit"
              class="btn btn-success"
              (click)="register('redirectToVideoUpload')"
            >
              Register & Upload My Video
            </button>
          </div>
          <div class="col-md-3 mb10">
            <button type="button" class="btn btn-dark" (click)="cancel()">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
