<div class="row align-items-center my-3">
  <bw-bread-crumb
    [defaultItems]="defaultItems"
    (onClick)="navigateInto($event)"
  ></bw-bread-crumb>
  <div class="col-md-10 mx-2">
    <p class="primary-fre-clr-bse bw-font-prm-medium">{{ headerName }}</p>
  </div>
</div>
<p *ngIf="isError" class="text-danger mb-1">
  <ng-container *ngFor="let msg of errMessage">
    {{ msg }}
  </ng-container>
</p>
<div class="row m-2">
  <div class="form-group col-8 p-3">
    <div class="m-1">
      <div class="row" *ngFor="let item of items; index as j">
        <div class="col-md-1">
          <bw-label
            [className]="'bw-font-sec-bold'"
            [labelName]="order(j + 1)"
          ></bw-label>
        </div>
        <div class="col-md-11 primary-fre-clr-bse ">
          <bw-input
            *ngIf="item.type === 'Text' || item.type === 'TextSingleLine'"
            [label]="item.question"
            [labelClass]="'bw-font-prm-medium fs-6 fw-500'"
            [control]="questionForm.get('content')"
            [classNameControl]="'bw-font-sec-medium'"
            (change)="inputChange(item)"
            (focusout)="inputChange(item)"
          >
          </bw-input>
          <div
            *ngIf="
              item.type === 'Choice' &&
              item.questionData.inputType !== 'Combo' &&
              item.questionData.inputType !== 'Radio'
            "
          >
            <bw-label
              [className]="'bw-font-sec-bold'"
              [labelName]="item.question"
            ></bw-label>
            <bw-checkbox
              [checkBoxses]="item.questionData.data"
              [inRow]="true"
              [inRowInputRows]="12"
              [classCheckboxLabel]="'col-md-12 col-lg-12'"
              [control]="questionForm.get('checkbox')"
              [classNameControl]="'bw-font-sec-medium m-3'"
              (getselectedArray)="changeCheckbox($event, item)"
            ></bw-checkbox>
          </div>
          <div *ngIf="item.type === 'Opinion'">
            <bw-label
              [className]="'bw-font-sec-bold'"
              [labelName]="item.question"
            ></bw-label>
            <bw-radio
              [radios]="item.questionData.data"
              [control]="questionForm.get('opinion')"
              [classNameControl]="'bw-font-sec-medium m-3'"
              [inRow]="true"
              [inRowInputRows]="12"
              [classRadioLabel]="'col-md-12 col-lg-12'"
              (getselectedArray)="changeRadio($event, item)"
            >
            </bw-radio>
          </div>
          <div *ngIf="item.type === 'Boolean'">
            <bw-label
              [className]="'bw-font-prm-medium fs-6 fw-500'"
              [labelName]="item.question"
            ></bw-label>
            <bw-radio
              [radios]="booleanRadios"
              [control]="questionForm.get('yesOrNo')"
              [classNameControl]="'bw-font-sec-medium m-3'"
              [inRow]="true"
              [inRowInputRows]="12"
              [classRadioLabel]="'col-md-12 col-lg-12'"
              (getselectedArray)="changeRadio($event, item)"
            >
            </bw-radio>
          </div>
          <div *ngIf="item.type === 'Note' || item.type === 'TextMultiLine'">
            <bw-textarea
              [label]="item.question"
              [labelClass]="'bw-font-prm-medium fs-6 fw-500'"
              [control]="questionForm.get('textarea')"
              [className]="'bw-font-sec-medium'"
              (change)="noteChange(item)"
              (focusout)="noteChange(item)"
            >
            </bw-textarea>
          </div>
          <bw-date
            *ngIf="item.type === 'DateTime' || item.type === 'Date'"
            [label]="item.question"
            [labelClass]="'bw-font-sec-bold'"
            [control]="questionForm.get('pickDateTime')"
            [classNameControl]="'bw-font-sec-medium'"
            [calendarType]="'classic'"
            [placeholder]="'DD/MM/YYYY'"
            (change)="dateChange(item)"
            (focusout)="dateChange(item)"
          >
          </bw-date>
          <bw-input
            *ngIf="item.type === 'Number'"
            [type]="'number'"
            [label]="item.question"
            [labelClass]="'bw-font-prm-medium fs-6 fw-500'"
            [control]="questionForm.get('integer')"
            [classNameControl]="'bw-font-sec-medium'"
            (change)="numberChange(item)"
            (focusout)="numberChange(item)"
          >
          </bw-input>
          <bw-select
            *ngIf="
              item.type === 'Choice' && item.questionData.inputType === 'Combo'
            "
            [labelClass]="'bw-font-prm-medium fs-6 fw-500'"
            [control]="questionForm.get('combo')"
            [data]="item.questionData.data"
            [isKey]="true"
            [label]="item.question"
            [inRow]="true"
            [inRowInputRows]="7"
            [inRowLabelRows]="3"
            [searchable]="false"
            [selectName]="'name'"
            [selectValue]="'value'"
            (selectChangeEvent)="comboChange($event, item)"
            [multiple]="false"
          >
          </bw-select>
          <div
            *ngIf="
              item.type === 'Choice' && item.questionData.inputType === 'Radio'
            "
          >
            <bw-label
              [className]="'bw-font-sec-bold'"
              [labelName]="item.question"
            ></bw-label>
            <bw-radio
              [radios]="item.questionData.data"
              [control]="questionForm.get('radioSub')"
              [classNameControl]="'bw-font-sec-medium m-3'"
              [inRow]="true"
              [inRowInputRows]="12"
              [classRadioLabel]="'col-md-12 col-lg-12'"
              (getselectedArray)="changeRadioSub($event, item)"
            >
            </bw-radio>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 my-3">
          <bw-button
            *ngIf="showButton"
            className="btn-base  secondary-btn-text border-secondary bw-font-prm-medium btn-sm  me-md-4 px-4 "
            buttonName="CANCEL"
            (onClick)="handleClick('cancel')"
          >
          </bw-button>
          <bw-button
            *ngIf="showButton"
            className="btn-base  secondary-btn-text border-secondary bw-font-prm-medium btn-sm  me-md-4 px-4"
            buttonName="SAVE"
            (onClick)="handleClick('save')"
          >
          </bw-button>
        </div>
      </div>
    </div>
  </div>
</div>
