.fileList{
    background-color: var(--bw-extra-light-blue-x) !important;
    color: black;
    border: 1px solid var(--bw-dark-aqua-clr-drk) !important;
    padding: 5px !important;
    border-radius: 4px;


    i {
        font-size: 22px;
        position: inherit!important;
    }

}