<form [formGroup]="username" class="width-30 m-auto" *ngIf="firstStep">
  <bw-avatar
    [className]="'logo lg center mt-5'"
    [src]="'../assets/images/logo-new.png'"
    [alt]="'logo'"
    [title]="'logo'"
  >
  </bw-avatar>
  <p class="primary-fre-clr-bse bw-font-sec-bold text-center">Password Reset</p>
  <bw-input
    [isStar]="false"
    [label]="'Username'"
    [control]="username.get('username')"
    [placeholder]="''"
    [classNameControl]="'bw-font-sec-medium'"
  >
  </bw-input>
  <bw-captcha
    [id]="'reset-password'"
    [control]="username.get('captcha')"
    [customErrorReq]="'Captcha is required'"
  ></bw-captcha>
  <p *ngIf="isError" class="text-danger mb-1">
    <ng-container *ngFor="let msg of errMessage">
      {{ msg }}
    </ng-container>
  </p>
  <br />
  <bw-button
    className="btn-base btn-contained secondary-btn-contained btn-lg bw-font-sec-bold width-100"
    buttonName="Reset Password"
    (onClick)="resetPassWordlidateNameVaFunc()"
  >
  </bw-button>
  <p
    class="
      secondary-fre-clr-bse
      text-center
      cursor-pointer
      mt-4
      focus-outline-none
    "
    routerLink="/login"
  >
    Return Home
  </p>
  <bw-footer></bw-footer>
</form>

<form [formGroup]="questionAns" class="width-30 m-auto" *ngIf="secondStep">
  <bw-avatar
    [className]="'logo lg center mt-5'"
    [src]="'../assets/images/logo-new.png'"
    [alt]="'logo'"
    [title]="'logo'"
  >
  </bw-avatar>
  <p class="primary-fre-clr-bse bw-font-sec-bold text-center">Password Reset</p>
  <bw-input
    [isStar]="false"
    [label]="'Username'"
    [control]="questionAns.get('username')"
    [placeholder]="''"
    [classNameControl]="'bw-font-sec-medium'"
  >
  </bw-input>
  <bw-input
    [isStar]="false"
    [label]="'Question'"
    [control]="questionAns.get('question')"
    [placeholder]="''"
    [classNameControl]="'bw-font-sec-medium'"
  >
  </bw-input>
  <bw-input
    [isStar]="false"
    [label]="'Answer'"
    [control]="questionAns.get('answer')"
    [placeholder]="''"
    [classNameControl]="'bw-font-sec-medium'"
  >
  </bw-input>
  <p *ngIf="isError" class="text-danger mb-1">
    <ng-container *ngFor="let msg of errMessage">
      {{ msg }}
    </ng-container>
  </p>
  <bw-button
    className="btn-base btn-contained secondary-btn-contained btn-lg bw-font-sec-bold width-100"
    buttonName="Submit"
    (onClick)="validateQuestion()"
  >
  </bw-button>
  <p
    class="
      secondary-fre-clr-bse
      text-center
      cursor-pointer
      mt-4
      focus-outline-none
    "
    routerLink="/login"
  >
    Return Home
  </p>
  <bw-footer></bw-footer>
</form>

<form [formGroup]="passwords" class="width-30 m-auto" *ngIf="thirdStep">
  <bw-avatar
    [className]="'logo lg center mt-5'"
    [src]="'../assets/images/logo-new.png'"
    [alt]="'logo'"
    [title]="'logo'"
  >
  </bw-avatar>
  <div *ngIf="!isSuccess">
    <p class="primary-fre-clr-bse bw-font-sec-bold text-center">
      Password Reset
    </p>
    <bw-input
      [type]="'password'"
      [label]="'New Password'"
      [control]="passwords.get('newPassword')"
      [placeholder]="''"
      [classNameControl]="'bw-font-sec-medium'"
    >
    </bw-input>
    <bw-input
      [type]="'password'"
      [label]="'Confirm Password'"
      [control]="passwords.get('confirmPassword')"
      [placeholder]="''"
      [classNameControl]="'bw-font-sec-medium'"
    >
    </bw-input>
    <div class="mb-3">
      <bw-toastr
        [rowClass]="'12'"
        [message]="'Password Creation'"
        [isListOrder]="true"
        [lists]="lists"
      >
      </bw-toastr>
    </div>
    <p *ngIf="isError" class="text-danger mb-1">
      <ng-container *ngFor="let msg of errMessage">
        {{ msg }}
      </ng-container>
    </p>
    <bw-button
      className="btn-base btn-contained secondary-btn-contained btn-lg bw-font-sec-bold width-100"
      buttonName="Reset Password"
      (onClick)="changepassword()"
    >
    </bw-button>
  </div>
  <p *ngIf="isSuccess">
    Your password has been successfully changed. You may now log in. You will be
    redirected to the login page in {{ message }} seconds.
  </p>
  <p
    class="
      secondary-fre-clr-bse
      text-center
      cursor-pointer
      mt-4
      focus-outline-none
    "
    routerLink="/login"
  >
    Return Home
  </p>
  <bw-footer></bw-footer>
</form>
