.dashboard {
  .card {
    border: none;
    border-radius: 8px !important;
    background-color: #ffffff;
    box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.12);
    h3 {
      color: #ec0f00;
      font-family: "Ikano Sans";
      font-size: 55px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 70px;
    }
    p {
      color: #4a4946;
      font-family: "Ikano Sans";
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
    }
  }
}
