.bg-light {
  background-color: #ffffff !important;
}
.header {
  border-radius: 8px;
  box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.12);
  span {
    li.active {
      font-weight: bold;
    }
    li {
      color: #4a4946;
      font-family: "Ikano Sans";
      font-size: 18px;
      letter-spacing: 0;
      line-height: 22px;
      margin: 0 38px 0 0;
    }
    li:last-child {
      margin: 0;
    }
  }
  img {
    height: 50px;
    width: 120px;
    cursor: pointer;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}
.navbar.navbar-expand-lg.navbar-light.bg-light {
  padding: 20px !important;
}
.ml-5,
.mx-5 {
  margin-left: 3.5rem !important;
}
a#dropdownMenuLink {
  text-decoration: none;
}
.dropdown-menu {
  min-width: 0;
  width: 100%;
}
.dropdown-item {
  text-align: center;
}
