/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../common/styles/commonApp.scss";


iframe {
	width: 100%;
	border: 1px solid #ccc;
}
.btn_reports{
	padding: 0.70rem 0;
	border-radius: .25rem;
}