<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Common
      </h1>
      <ul>
        <li>
          Mr. Reto Armuzzi of Switzerland who has studied about Paracelsus who
          eradicated epidemic of 1529-30 is supporting Siddha system of medicine
          to fight COVID-19 Please upload your video or share this link if you
          find this useful. Also please send such video’s articles or link to
          share and gain knowledge on Siddha. You content will be reviewed for
          authenticity and published within an Hour
        </li>
      </ul>
    </div>
  </div>
</div>
