<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>MGR on Siddha</h1>
      <ul>
        <li>
          MGR, the founder of AIADMK is user of Siddha medicine called Thanga
          Parpam (Special preparation with gold). He has supported Siddha
          medicine in some of his films also.
        </li>
        Please upload your video or share this link if you find this useful.
        Also please send such video’s articles or link to share and gain
        knowledge on Siddha. You content will be reviewed for authenticity and
        published within an Hour
      </ul>
    </div>
  </div>
</div>
