.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
form label{
      font-weight: bold;
    text-align: left !important;
    display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MuiAutocomplete-root{
  width:100% !important;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]{
  height: 50px;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-input:first-child {
    padding-left: 6px;
    margin: 0;
    height: 50px;
    display: block;
    position: relative;
    TOP: -22px;
}
  .fas.fa-plus{
    cursor: pointer;
  }
