<div class="col-md-12">
    <bw-bread-crumb [defaultItems]="defaultNavs" (onClick)="navigateInto($event)"></bw-bread-crumb>
</div>
<div class="m-4">
    <div class="row align-items-center">
        <div class="col-3">
            <bw-text [className]="'bw-font-sec-bold primary-fre-clr-bse f-17'" [textName]="title"></bw-text>
        </div>
        <div class="col-9 text-end pr-0" *ngIf="hideResponsesBtns">
            <bw-button className="btn-base secondary-btn-text border-secondary bw-font-prm-regular btn-sm me-md-4 px-4"
                buttonName="Export Summary" (onClick)="export($event, 'summary')">
            </bw-button>

            <bw-button
                className="btn-base px-4 bw-font-prm-regular btn-contained secondary-btn-contained btn-sm  me-md-4"
                [buttonName]="'Export Responses'" (onClick)="export($event, 'responses')">
            </bw-button>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <bw-button [className]="summaryTab" buttonName="Summary" (onClick)="clickButton('summary')">
            </bw-button>
            <bw-button *ngIf="hideResponsesBtns" [className]="responsesTab" buttonName="Responses" (onClick)="clickButton('responses')">
            </bw-button>
        </div>
    </div>
    <div class="mt-5">
        <app-eva-summary *ngIf="tab == 'SUMMARY'"></app-eva-summary>
        <app-eva-responses *ngIf="tab == 'RESPONSES'"> </app-eva-responses>
    </div>
    <!-- <bw-tab [tabs]="tabsData" (tabChange)="tabChange($event)">
        
    </bw-tab> -->
</div>