/*::ng-deep.mat-tab-label {
	min-width: 0px !important;
	background-color: #998c8c;
}*/
/*::ng-deep.mat-tab-label-active {
	background:#ccc;
}*/

h3 {
	color: #333333;
	display: inline;
	font-size: 20px !important;
	font-weight: 500 !important;
}
