<div class="mt-4">
    <div>
        <span (click)="backNavigation()"><a class="cursor-pointer"> Evaluation</a> > </span>
        <span>{{evaluationData?.title}}</span>
    </div>

    <div class="col-12 text-end">
        <bw-button className="btn-base  secondary-btn-text border-secondary bw-font-prm-regular btn-sm  me-md-4 px-4"
            buttonName="Delete" (onClick)="buttonClick($event,'delete')">
        </bw-button>
        <bw-button *ngIf="!templateScreen"
            className="btn-base  secondary-btn-text border-secondary bw-font-prm-regular  me-md-4 px-4"
            [buttonName]="buttonName" (onClick)="buttonClick($event,buttonName )">
        </bw-button>
        <bw-button *ngIf="unPublishScreen"
            className="btn-base  secondary-btn-text border-secondary bw-font-prm-regular  me-md-4 px-4"
            [buttonName]="'Re-Order Questions'" (onClick)="buttonClick($event,'reOrder' )">
        </bw-button>
        <bw-button className="btn-base  secondary-btn-text border-secondary bw-font-prm-regular  me-md-4 px-4"
            [buttonName]="'Settings'" (onClick)="buttonClick($event,'seetings')">
        </bw-button>

    </div>

    <div class="mt-4">
        <bw-text [className]="'bw-font-sec-bold  primary-fre-clr-bse f-17'" [textName]="'Evaluations'"></bw-text>

    </div>


    <div class=" mt-3 editEvalutions">

        <bw-grid 
            [isEnableSelectAll]="false" 
            [isShowCheckbox]="false" 
            [onCellClicked]="onCellClicked"
            [columnOptions]="columnOptions" 
            [columnsData]="columnsData" 
            [gridData]="gridData" 
            [actions]="actions" 
            [isEnableButton]="true"
            [accesControlFlag]="true" 
            (readAccessClick)="readAccessClick($event)"
            (writeAccessClick)="writeAccessClick($event)" 
            (onClickLink)="onClickLink($event)" 
            (ChildLinkClick)="childLinkClick($event)" 
            [evaluationQuestionChildren]="false" 
            (onClickAction)="ationTaken($event)">
        </bw-grid>


    </div>
    <div *ngIf="unPublishScreen" class="mt-4">
        <bw-checkbox [checkBoxses]="emailCheckBox" [inRow]="true" [inRowLabelRows]="5" [inRowInputRows]="7"
            [classCheckboxLabel]="'row  m-0'" [control]="emailalertControl"
            [classNameControl]="'bw-font-sec-medium  p-0 '" [label]="''" (getSelectedValue)="changeCheckbox($event)"
            [checkBoxTextClass]="'col-xl-11 col-lg-11 col-md-10 ml-10'" [spanrowClass]="' col-1'">

        </bw-checkbox>
    </div>

    <!-- <div class="row mt-4">
        <div class="col-md-6">
          <span>
            <div class="k-notification-info" *ngFor="let item of documents; let i = index" style="margin: 5px">
                <div class="alert row align-items-center">
                    <div class="col-9 names">{{ item.FileName }}</div>
                        <div class="col-3 text-end">
                            <i (click)="deleteIcon(i, item)" aria-hidden="true" class="cursor-pointer mdi mdi-delete icon"></i>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div> -->

    <div class="mt-4">
        <bw-button className="btn-base  secondary-btn-text border-secondary bw-font-prm-regular btn-sm  me-md-4 px-4"
            buttonName="New Question" (onClick)="buttonClick($event,'newQuestion')">
        </bw-button>
        <bw-button *ngIf="!unPublishScreen && !templateScreen"
            className="btn-base  secondary-btn-text border-secondary bw-font-prm-regular  me-md-4 px-4"
            [buttonName]="'Delete Response'" (onClick)="buttonClick($event,'deleteResponse' )">
        </bw-button>
        <!-- <bw-button className="btn-base secondary-btn-text border-secondary bw-font-prm-regular me-md-4 px-4"
          [buttonName]="'ADD DOCUMENT'" (onClick)="addDocument($event)">
        </bw-button> -->

    </div>

</div>

<div *ngIf="showReorderModal">
    <bw-confirm-modal [width]="700" [headerTitle]="'Re-Order Confirmation'" [isEnableHeader]="true" [isDeleteBody]="false"
        [isEnableFooter]="true" [isCustomBody]="true" (onConfirmClick)="reOrderEvalution('save')"
        (onCancelClick)="reOrderEvalution('cancel')">
        <bw-grid [isEnableSelectAll]="false" [isShowCheckbox]="false" [onCellClicked]="onCellClicked"
            [columnOptions]="columnOptions" [columnsData]="columnsData" [gridData]="gridData" [isEnableButton]="true"
            [accesControlFlag]="true" (readAccessClick)="readAccessClick($event)"
            (writeAccessClick)="writeAccessClick($event)"
            (dragAndDropGrid)="dragAndDropGrid($event)"
            [dragAndDrop]="true"
            >
        </bw-grid>

    </bw-confirm-modal>
</div>


<div *ngIf="showdeleteEvalution">
    <bw-confirm-modal [width]="700" [headerTitle]="'Delete Confirmation'" [isEnableHeader]="true" [isDeleteBody]="false"
        [isEnableFooter]="true" [isCustomBody]="true" (onConfirmClick)="deleteEvalution('save')"
        (onCancelClick)="deleteEvalution('cancel')">
        <bw-text [className]="'fw-500 fs-6'" [textName]="'Are you sure you want to delete this Evaluations'"></bw-text>

    </bw-confirm-modal>
</div>



<div *ngIf="showdeleteResponse">
    <bw-confirm-modal [width]="700" [headerTitle]="'Delete Confirmation'" [isEnableHeader]="true" [isDeleteBody]="false"
        [isEnableFooter]="true" [isCustomBody]="true" (onConfirmClick)="deleteResponse('save')"
        (onCancelClick)="deleteResponse('cancel')">
        <bw-text [className]="'fw-500 fs-6'" [textName]="'Are you sure you want to delete this Responses ?'"></bw-text>

    </bw-confirm-modal>
</div>

<div *ngIf="showDeleteQuestion">
    <bw-confirm-modal
      [width]="700"
      [headerTitle]="'Delete Confirmation'"
      [isEnableHeader]="true"
      [isDeleteBody]="true"
      [isEnableFooter]="true"
      [isCustomBody]="true"
      [customMessage]="'Are you sure you want to delete this Evaluations Question?'"
      [bodyMessage]="
        'Deleting this evaluation will remove it from BoardWorks and any linked devices.'
      "
      (onConfirmClick)="deleteEvaluationQuestion('save')"
      (onCancelClick)="deleteEvaluationQuestion('cancel')"
    >
    </bw-confirm-modal>
  </div>