<div class="row align-items-center my-3">
  <div class="col-md-8">
    <bw-text
      [textName]="labelName"
      [className]="'primary-fre-clr-bse fw-bolder bw-font-sec-regular'"
    ></bw-text>
  </div>
  <div class="col-md-4 text-end">
    <bw-button
      [showButton]="tabName == 'users'"
      [className]="
        'btn-base btn-contained secondary-btn-outlined btn-sm bw-font-sec-bold'
      "
      [buttonName]="'REPORTS'"
      (onClick)="reports($event)"
    >
    </bw-button>
    <bw-button
      *ngIf="isShowAddGroups"
      [showButton]="tabName == 'groups'"
      [className]="
        'btn-base secondary-btn-text border-secondary bw-font-prm-medium btn-sm me-md-4 px-4'
      "
      [buttonName]="'NEW GROUP'"
      (onClick)="navigateTo('group')"
    >
    </bw-button>
    <bw-button
      *ngIf="isShowAddCommittees"
      [showButton]="tabName == 'committees'"
      [className]="
        'btn-base secondary-btn-text border-secondary bw-font-prm-medium btn-sm me-md-4 px-4'
      "
      [buttonName]="'NEW COMMITTEE'"
      (onClick)="navigateTo('committee')"
    >
    </bw-button>
  </div>
</div>
<div class="col-md-9 links">
  <p *ngIf="isError" class="text-danger mb-1">
    <ng-container *ngFor="let msg of errMessage">
      {{ msg }}
    </ng-container>
  </p>
  <bw-tab [tabs]="tabsData" (tabChange)="tabChange($event)">
    <div class="mt-2">
      <div
        class="mt-4 row profiledropdown"
        *ngIf="tabName == 'users' && isShowViewUsers"
      >
        <div class="col-md-12 alert">
          <bw-toastr [rowClass]="'12'" [isIcon]="true" [isLinkText]="true">
            <bw-text [isText]="true">
              Please contact as
              <bw-link
                (onClickLink)="mailTo('cgsglobalsupport@computerchare.com')"
                [linkText]="'cgsglobalsupport@computerchare.com'"
                [className]="'bw-font-sec-bold'"
              ></bw-link>
              to create a new user for this board
            </bw-text>
          </bw-toastr>
        </div>
        <div class="d-flex pr my-3">
          <bw-select
            [defaultItem]="defaultSortItem"
            [control]="selectField"
            [data]="sortBy"
            [isKey]="true"
            [searchable]="false"
            [selectName]="'name'"
            [selectValue]="'value'"
            (selectChangeEvent)="onSelect($event)"
          >
          </bw-select>
        </div>
        <div class="col-md-12 my-3">
          <bw-grid
            [isEnableSelectAll]="isEnableSelectAll"
            [isShowCheckbox]="isShowCheckbox"
            [onCellClicked]="onCellClicked"
            [columnOptions]="columnOptions"
            [columnsData]="columnsDataAdminUser"
            [gridData]="gridData"
            [isEnableButton]="true"
            [buttonName]="'EDIT'"
            (onClickActionAccordion)="edit($event)"
          >
          </bw-grid>
        </div>
      </div>
      <div
        class="mt-4 profiledropdown"
        *ngIf="tabName == 'groups' && isShowGroups"
      >
        <bw-grid
          [isEnableSelectAll]="isEnableSelectAll"
          [isShowCheckbox]="isShowCheckbox"
          [onCellClicked]="onCellClicked"
          [columnOptions]="columnOptions"
          [columnsData]="columnsData"
          [gridData]="groups"
          [isCommitteeGrid]="isCommitteeGrid"
          (onClickLink)="onClickLink($event, 'groups')"
        >
        </bw-grid>
      </div>
      <div
        class="mt-4 profiledropdown"
        *ngIf="tabName == 'committees' && isShowCommittees"
      >
        <bw-grid
          [isEnableSelectAll]="isEnableSelectAll"
          [isShowCheckbox]="isShowCheckbox"
          [onCellClicked]="onCellClicked"
          [columnOptions]="columnOptions"
          [columnsData]="columnsData"
          [gridData]="committees"
          [isCommitteeGrid]="isCommitteeGrid"
          (onClickLink)="onClickLink($event, 'committees')"
        >
        </bw-grid>
      </div>
      <div *ngIf="!tab">
        <!-- <h1>Hello Office</h1> -->
      </div>
    </div>
  </bw-tab>
</div>
<div *ngIf="showdeleteLink">
  <bw-confirm-modal
    [width]="700"
    [headerTitle]="'Delete Confirmation'"
    [isEnableHeader]="true"
    [isDeleteBody]="true"
    [isEnableFooter]="true"
    [isCustomBody]="true"
    [bodyMessage]="'Deleting this Committee will Committee document that has been associated with it from BoardWorks and any linked devices.'"
    [customMessage]="'Are you sure you want to delete this Committee?'"
    (onConfirmClick)="linksModalAction('save')"
    (onCancelClick)="linksModalAction('cancel')"
  >
    <!-- <bw-text
      [className]="'fw-500 fs-6'"
      [textName]="
        'Deleting this Committee will Committee document that has been associated with it from BoardWorks and any linked devices.'
      "
    ></bw-text> -->
  </bw-confirm-modal>
</div>
